<div class="group">
	<div class="flexi-c r">
		<h2 class="group-title">Just Added</h2>
		<a href="#" class="group-button"><i class="material-icons">chevron_left</i></a>
		<a href="#" class="group-button"><i class="material-icons">chevron_right</i></a>
	</div>

	<%= render "shared/results", results: @new%>
</div>

<div class="group">
	<div class="flexi-c r">
		<h2 class="group-title">Action</h2>
		<a href="#" class="group-button"><i class="material-icons">chevron_left</i></a>
		<a href="#" class="group-button"><i class="material-icons">chevron_right</i></a>
	</div>

	<%= render "shared/results", results: @action %>
</div>

<div class="group">
	<div class="flexi-c r">
		<h2 class="group-title">Drama</h2>
		<a href="#" class="group-button"><i class="material-icons">chevron_left</i></a>
		<a href="#" class="group-button"><i class="material-icons">chevron_right</i></a>
	</div>

	<%= render "shared/results", results: @drama %>
</div>
