<div class="group">
	<div class="flexi-c r">
		<h2 class="group-title">New Releases</h2>
		<a href="#" class="group-button"><i class="material-icons">chevron_left</i></a>
		<a href="#" class="group-button"><i class="material-icons">chevron_right</i></a>
	</div>

	<%= render "shared/results", results: @new[0..8] %>
</div>

<div class="group">
	<div class="flexi-c r">
		<h2 class="group-title">Action</h2>
		<a href="#" class="group-button"><i class="material-icons">chevron_left</i></a>
		<a href="#" class="group-button"><i class="material-icons">chevron_right</i></a>
	</div>

	<%= render "shared/results", results: @action[0..5] %>
</div>

<div class="group">
	<div class="flexi-c r">
		<h2 class="group-title">Drama</h2>
		<a href="#" class="group-button"><i class="material-icons">chevron_left</i></a>
		<a href="#" class="group-button"><i class="material-icons">chevron_right</i></a>
	</div>

	<%= render "shared/results", results: @drama[0..8] %>
</div>

<div class="group">
	<div class="flexi-c r">
		<h2 class="group-title">Comedy</h2>
		<a href="#" class="group-button"><i class="material-icons">chevron_left</i></a>
		<a href="#" class="group-button"><i class="material-icons">chevron_right</i></a>
	</div>

	<%= render "shared/results", results: @comedy[0..5] %>
</div>
