<div class="group">
	<h2 class="group-title">Just Added</h2>
	<%= render "shared/results", results: [@results, @results].flatten %>
</div>

<div class="group">
	<h2 class="group-title">Action</h2>
	<%= render "shared/results", results: [@results, @results, @results].flatten %>
</div>

<div class="group">
	<h2 class="group-title">Sci-Fi</h2>
	<%= render "shared/results", results: @results %>
</div>
