<nav class="flexi-c r">
	<a href="/" id="logo">
		<span class="circle">L</span>
		<span class="circle">U</span>
		<span class="circle">C</span>
		<span class="circle">K</span>
		<span class="circle">Y</span>
	</a>
	<div id="search"></div>
	<a href="#" class="nav-link">MOVIES</a>
	<a href="#" class="nav-link">SHOWS</a>
	<a href="#" class="nav-link">LIVE</a>
	<a href="#" class="nav-link">CHAT</a>
	<a href="#" class="nav-link" id="admin"><i class="material-icons">vpn_key</i></a>
</nav>