.episode-info {
	margin-bottom: 10px;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,.5);
	overflow: hidden;
	background: white;

	.episode-preview {
		flex: 0 0 120px;
		margin-right: 20px;
	  background: lightgray;

		img {
			display: block;
  		width: 100%;
  		height: 100%;
  		object-fit: cover;
		}
	}

	> .flexi-i {
		padding: 10px;
		padding-left: 0;
	}
	.episode-title {
		padding-bottom: 5px;
		font: 500 18px/18px sans-serif;
		color: #222222;
	}
	.episode-description {
		font: 500 14px/14px sans-serif;
		color: #222222;
	}
}