nav {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,.5);
	background: white;

	#logo {
		flex: 0 0;
		margin-right: 5px;
		white-space: nowrap;

		.circle {
			display: inline-block;
			width: 20px;
			height: 20px;
			text-align: center;
			font: 400 10px/20px sans-serif;
			border-radius: 50px;
			box-shadow: 0 1px 3px rgba(0,0,0,.5);
			background: black;
			color: white;
		}
	}
	#search {
		flex: 1 1;
		height: 20px;
		border-radius: 50px;
		box-shadow: 0 1px 3px rgba(0,0,0,.5);
		background: white;
	}
	.nav-link {
		flex: 0 0 20px;
		height: 20px;
		margin-left: 5px;
		padding: 0 10px;
		text-align: center;
		white-space: nowrap;
		font: 400 10px/20px sans-serif;
		border-radius: 20px;
		box-shadow: 0 1px 3px rgba(0,0,0,.5);
		background: black;
	}
	#admin {
		padding: 0;

		i {
			height: 20px !important;
			line-height: 20px !important;
			font-size: 12px !important;
			color: white;
		}
	}
	a {
		height: 20px;
		line-height: 20px;
	}
}