#login {
	width: 100%;
	max-width: 340px;
	margin: 40px auto;
	padding: 20px;
	border-radius: 5px;
	background: white;

	h1 {
		padding-bottom: 20px;
		text-align: center;
		font: 600 22px/22px sans-serif;
		color: gray;
	}
	label {
		font: 400 14px/20px sans-serif;
	}
	input {
		width: 100%;
		margin-bottom: 10px;
		padding-left: 5px;
		font: 400 14px/20px sans-serif;
		background: white;
	}
	.login-button {
		flex: 0 1 200px;
		margin-bottom: 0;
		font: 400 16px/20px sans-serif;
		cursor: pointer;
	}
}