<% @results.each do |l, rr| %>
	<div class="group">
		<div class="flexi-c r">
			<h2 class="group-title"><%= l.capitalize %></h2>
		</div>

		<%= render "shared/results", results: rr %>
	</div>
<% end %>